<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.android.sample.init"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="Camera MAP" android:debuggable="true">

        <!-- Init Application -->
        <activity android:name=".InitApp"
                  android:label="Camera MAP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Camera MapView -->
        <activity android:name="net.android.sample.cameramap.CameraMapView"
                  android:label="Camera MapView"
                  android:configChanges="orientation|keyboardHidden"
                  android:taskAffinity=".mapview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- Camera Map -->
        <activity android:name="net.android.sample.cameramap.CameraMap"
                  android:label="Camera Map"
                  android:screenOrientation="landscape"
                  android:taskAffinity=".cameraview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- Image Viewer -->
        <activity android:name="net.android.sample.imageviewer.ImageViewer"
        		  android:label="Image Viewer"
        		  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Wikitude Viewer -->
        <activity android:name="net.android.sample.wikitude.WikitudeViewer"
        		  android:label="Wikitude Viewer"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    	<uses-library android:name="com.google.android.maps" />
    </application>
    <uses-sdk android:minSdkVersion="3" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.CAMERA"></uses-permission>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
</manifest> 